.catalog{
  padding: 150px 0 150px;
&__project{
  display: flex;
  margin-bottom: 70px;
}
  &__line{
    display: inline-block;
    margin-right: 40px;
    padding-top: 13px;

  }
  &__line1 {
    border: 3px solid #005BC1;
    max-width:100px ;
    width: 100px;
    margin-bottom: 13px;
  }
  &__line2{
    border: 3px solid #005BC1;
    max-width:50px ;
    width: 50px;
  }
  &__text{

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #343434;
  }
  &-tabs {
    &__caption {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }

    &__tab {
      margin-right: 47px;
      width: 52px;
      height: 36px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.5s;
      margin-bottom: 58px;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.05em;
      color:#343434;


      &_active {
        color:#005BC1;
        border: none;
        .catalog-tabs__line3{
          background: #005BC1;
          width: 69px;
          border: 2px solid #005BC1;
          margin-top: 5px;
          margin-bottom: 50px;
        }
        .catalog-tabs__line4{
          background: #005BC1;
          width: 145px;
          border: 2px solid #005BC1;
          margin-top: 5px;
          margin-bottom: 50px;
        }
      }



      &:last-child {
        margin-right: 0;
      }
    }

    &__content {
      display: none;

      &_active {
        display: block;
      }
    }

  }

  .catalog__card{
  max-width: 350px;
    max-height: 300px;
    position: relative;

}
  .catalog-card__img{
    max-width: 350px;
    max-height:300px;
    object-fit: cover;
  }
  &__box{
    max-width: 265px;
    max-height: 86px;
    width: 265px;
    height: 86px;
    background: #005BC1;
    position: absolute;
    top:65%;
    right:-12px;

  }
  &__txt{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 15px 10px ;
  }
  &__txt1{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 30px 10px ;
  }
  &__txt2{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 30px 10px ;
  }

  }