.header{
  padding:0;
  background: url("../image/nav/bg.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
.container{
  margin-left: 0;
  padding-left: 40px;
}
  &__info{
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    display: flex;
    justify-content: left;
    max-width: 140px;
    width: 140px;
    max-height: 58px;
    height: 58px;
    margin:11px 0 11px 0;
    object-fit: cover;
  }
  .nav {
    display: inline-flex;
   align-items: center;
    margin: 0 auto;
    padding-left: 250px;
  }

  .nav__link{
    font-family:$OpenSans600;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 26px;
    text-decoration: none;
    position: relative;
    z-index: 1;

    &:last-child{
      margin-right: 0;
    }
  }

}