@import "../fonts/MuseoSansCyrl/stylesheet.css";
@import '../libs/bootstrap/bootstrap-4.5.3-dist/css/bootstrap-grid.min.css';
@import "../libs/fancy/jquery.fancybox.min.css";
@import "../libs/owl_corusel/assets/owl.carousel.min.css";
@import "../libs/owl_corusel/assets/owl.theme.default.min.css";

$OpenSans600:'Open Sans 600 ',sans-serif;
$OpenSans400:'Open Sans 400 ',sans-serif;
$OpenSans300:'Open Sans 300 ',sans-serif;
$Oswald400:'Oswald 400 ',sans-serif;


body{
  font-family: $Oswald400;

}
*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




@import "header";
@import "first";
@import "media";
@import "slider";
@import "catalog";
@import "rent";
@import "news";
@import "footer";